
@import url('https://fonts.googleapis.com/css2?family=Delius+Unicase:wght@700&family=Gaegu:wght@700&display=swap');



.hero.has-background {
  position: relative;
  overflow: hidden;
}
.hero-background {
  position: absolute;
  object-fit: cover;
  object-position: center center;
  width: 100%;
  height: 100%;
}
.hero-background.is-transparent {
  opacity: 0.3;
}

.missing-input {
  color: red;
}

.blankPage {
  background-image: url("https://st4.depositphotos.com/17553142/22142/v/1600/depositphotos_221420278-stock-illustration-blank-notebook-page-sheet-lined.jpg");
  background-repeat: no-repeat;
  background-position: center;
  width: auto;
  height: auto;
  font-family: 'Delius Unicase', cursive;
  font-family: 'Gaegu', cursive;
  font-size: x-large;
  color: black;
}